BODY { background-color:#000066; color:white;
		background-image:url(interface/bkg.gif);
		margin:0px;
	}
A:link, A:visited, A:active { text-decoration: none; color: white; }

.category1 { font-family: serif; font-size: 12pt; font-weight: bold; }
.category2 { font-family: serif; font-size: 12pt; }

#caption { font-family: serif; font-size: 10pt; }
#location { }
#date { }

.controlSettings { font-family: serif; font-size: 18; }
