body { background-color:black; color:white; font-family:sans-serif; margin:0px; }

img { border:none; }
a { color:white; text-decoration:none; }

form { display:inline; }

#banner { background-color:purple; width:100%; }

#categories { background-color:purple; width:125px; float:left; font-family:cursive; }
#categories ul { list-style-type:none; margin:0; padding:0; font-family:sans-serif; font-size:smaller; }
#categories ul ul { margin-left:1em; }


#main { margin-left:130px; }


.thumbnail { float:left; width:100px; height:120px; margin:10px; text-align:center; }
.photo { }


#navigation { clear:both; text-align:center; }