/* Set the default styles for common HTML elements */
body { background-color:black; color:white; font-family:sans-serif; margin:0px; }

img { border:none; }
a { color:white; text-decoration:none; }
a:link { color:#3366cc; background-color:inherit; }
a:active { color:red; background-color:inherit; }
a:visited { color:white;  background-color:inherit; }
a:hover { color:#666666; background-color:inherit; }

h1 { text-align:left; margin:0em; }
h2 { margin:0em; }
h3 { margin:0em; }

p { margin-top:0em; margin-bottom:1em; }

form { display:inline; }
fieldset {  }
label { font-weight:bold; }
label.required { color:red; background-color:inherit; }
input { font-family:sans-serif; font-size:9pt; }

table { border-collapse:collapse; }
tr { vertical-align:top; }
td { padding-left:.5em; padding-right:.5em; background-color:inherit; }
th { text-align:left; background-color:#dddddd; padding-left:.5em; padding-right:.5em; vertical-align: top; }
th a:link,th a:visited { color:white; background-color:inherit; }

ul { margin-top:0em; }

/* Top Banner stuff */
#banner { background-color:purple; width:100%; }

#loginBox { width:30ex; display:block; margin: 10px; }
#loginBox input { width: 10ex; }

/* Used to draw fancy bordered boxes around content */
div.interfaceBox { background-color:inherit; color:inherit; border-bottom:2px dotted black; }
div.titleBar { background-color:#3366cc; color:white; font-size:14pt; border:2px solid black; font-weight:bold; padding-left:.5em; padding-right:.5em; margin-bottom:1em;}
div.titleBar a { margin:0px; height:20px; }


/* These are for the floating tool boxes on the side of the page */
div.sidebar { width:155px; float:left; clear:left; font-family:sans-serif; font-size:10pt; background-color:white; color:inherit; margin-bottom:2em; border:2px solid black; border-collapse:collapse; }
div.sidebar div.titleBar { background-color:#3366cc; height:20px; color:white; font-family: serif; font-size:12pt; margin:0px; border-top:0; border-left:0; border-right:0; border-bottom:2px solid black; text-align:center; }
div.sidebar a:hover { color:#666666; background-color:inherit;}

div.sidebar ul { list-style-type:none; margin-left:.5em; padding:0; }
div.sidebar ul a { display:inline; font-weight:bold; }

/* Breadcrumb class for navigational items */
div.breadcrumbs { font-size:10pt; font-weight:bold; }


#mainContent { background-color:inherit; padding-left:3px; margin-left:170px; }



.thumbnail { float:left; width:100px; height:120px; margin:10px; text-align:center; }
.photo { }


#navigation { text-align:center; }

#footer { font-size:10pt; text-align:center; clear:both; margin-top:1em; }
#footer p { font-size: 9px; color: #666666; margin:0 2em 2em 0; }


/*  Custom buttons for forms */
button.login { width:52px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/login.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.submit { width:70px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/submit.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.search { width:67px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/search.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.cancel { width:69px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/cancel.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.save { width:52px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/save.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.addLarge { width:52px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/addLarge.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.editLarge { width:52px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/editLarge.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.deleteLarge { width:63px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/deleteLarge.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.start { width:52px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/start.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.addSmall { width:15px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/addSmall.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.editSmall { width:15px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/editSmall.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
button.deleteSmall { width:15px; height:15px; padding-top:15px; background: url('/~ningham/photobase/skins/default/images/deleteSmall.gif') no-repeat; cursor:pointer; overflow:hidden; border:0; vertical-align:middle; }
